/* root css */
html  {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  max-height: 100vh;
  padding: 0;
  background-color: purple;
}

/* login and register forms */
.auth-container {
  width: 400px; 
  max-height: 500px;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
} 

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  padding: 10px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.user-inputs {
  border-radius: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width:100%;
}

.inputs-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.inputs {
  width: 100%;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid black;
  outline: none;
}
/* images/icons */

.icon-img {
  position: absolute;
  right: 20px;
  width: 18px;
  height: 18px;
}

/* on back for forget,terms,privacy */

.close-transaction-button{
  position: relative;
  right: 200px;
  width: 40px;
  height: 40px;
}


/* forgot password */
.options-container {
  width: 100%;
  margin-top: 10px;
}

.forget {
  font-size: 15px;
  text-align:right;
  margin-top: 10px;

}
/* forgot page */

.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.forgot-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  width:100%;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid black;
  outline: none;
}

.forgot-btn-otp {
  border: none;
  outline: none;
  margin-top: 14px;
  padding: 12px;
  border-radius: 18px;
  background-color: purple;
  color: white;
  font-size: 18px;
  margin-bottom: 14px;
}

.forgot-btn {
  border: none;
  border-radius: 18px;
  background-color: #9e2db4;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}
.forgot-btn:hover{
  color: black;
}

.forgot-btn-otp:hover{
  background-color: #b396bb;
  color: black;

}

/* remember me  */
.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  text-align: left;
}
/*  all buttons */
button {
  border: none;
  border-radius: 18px;
  background-color: #9e2db4;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

button:hover {
  background-color: #b396bb;
}

/* links */
a {
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

/* policy on the register page */

.policy-section {
  align-items: center;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
  margin-top: 10px;
  font-size: 15px;
}

.policy-section input[type="checkbox"] {
  margin-right: 10px;
}

.policy-section label {
  font-size: 14px;
  line-height: 1.5;
}

.policy-section a {
  color: purple;
}

.policy-section a:hover {
  text-decoration: underline;
}

/* terms and conditions overlay */
/*  privacy policy overlay */

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  background: rgb(255, 255, 255);
  overflow-y: auto;
  max-width: 500px; 
  border: 1px solid #9e2db4;

}
.overlay-content{
  top: 0;
  height: 100vh;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  overflow: scroll;
  scrollbar-width: none;


}
.close-transaction-button-content{
  position: relative;
  right: 200px;
  width: 40px;
  height: 40px;
}

